@media (max-width: 1230px){
	.header a {
		font-size: 14px;
	}
	.header a.btn,.header a.btn.btn_small {
		font-size: 10px;
	}

}
@media (max-width: 1080px){
	.item {
		width: 100%;
		flex: 1 1 200px
	}
		.item_img {
			background-position: center;
		}
}

@media (max-width: 1000px){
	.header {
		background-color: #009FE3;
	}
	.header a{
		font-size: 22px;
	}
	.header .container {
		width: 100%;
		margin: 0;
		padding: 0 5px;
		justify-content: flex-end;
		flex-flow: column ;
	}
	.logo img {
		fill : #ffffff!important;
	}
	.items{
		flex-flow: column;
	}
		.item {
			min-height: 400px;
		}
		/* Меню навигации */
		#nav_main_menu{
			display: none;
			text-align: right;
		}
		.header nav {
			flex-flow: column;
			justify-content: flex-end;
			align-items:flex-end;
			width: 100%;
		}
		.header nav div {
			width: 100%;
		}
		.menu-menu-1-container {
			margin-bottom: 20px;
		}
		.menu-menu-1-container ul {
			display: flex;
			flex-flow: column;
			justify-content: flex-end;
			margin-top: 10px;
			margin-right: 20px;
		}
		.menu-menu-1-container ul li {
			padding: 0;
			display: block;
		}
		.menu-menu-1-container>ul>li {
			border-bottom: 1px solid rgba(255, 255, 255, .5);
		}
		#but_menu {
			margin-left: auto;
			cursor: pointer;
		}
		#menu-menu-1 a {
			width: 100%;
			display: inline-block;
			text-align: right;
			padding: 15px 0;
			padding-right: 30px;
			color: rgba(255, 255, 255, 1);
			font-weight: 400;
		}
			.header ul.sub-menu {
				display: block;
				position: static;
				margin: 0;
				padding: 0;
				font-size: 20px;
				background : none;
				width: 100%;
				margin-top: -10px;
				margin-bottom: 10px;
			}
			.header ul.sub-menu a{
				color: rgba(255, 255, 255, .7)!important;
				font-size: 16px;
				padding-top: 5px !important;
				padding-bottom: 5px !important;
			}
	/* Кнопки меню */
	.mobile_header {
		display: flex;
		width: 100%;
		align-self: flex-start;
		flex-flow: row;
		align-items: center;
		margin-top: 5px;
		margin-bottom: 5px;
	}
	.mobile_header svg {
		display: block;
	}
	.header a.btn{
		font-size: 22px;
		display: inline-block;
		background: rgb(0 64 91 / 60%);
		text-align: right;
		margin-right: 20px;
		margin-top: 10px;
	}
	.header a.btn.btn_small {
		font-size: 22px;
	}
	footer a.btn, footer a.btn.btn_small {
		font-size: 22px;
		padding-top: 12px;
		padding-bottom: 12px;

	}
	/* Социальный блок */
	.header ul.social {
		margin-right: 20px;
	}
	.header ul.social{
		justify-content: flex-end;
		width: 100%;
	}

	.header ul.social img{
		height: 40px;
		width: 40px;
	}
	footer ul.social img{
		height: 40px;
		width: 40px;
	}
	.social li a{
		margin-left: 0!important;
		margin-right: 20px;
	}
	.copyright {
		max-width: 90%;
	}

	.copyright p{
		font-size: 12px!important;
		text-align: center!important;
	}
	footer ul.social{
		gap: 15px;
	}
	footer ul.social li{
		margin-right: 0;
	}
	footer .social li a {
        margin-right: 0;
    }
	/* Форма поиска */
	.search_icon svg {
		display: none;

	}
		.search_icon form {
			position: static;
			bottom: -70px;
			right: 0;
			opacity: 1;
		}
		.search_icon input {
			width: 90%;
			background: rgb(255 255 255 / 75%);
			font-size: 16px;
			margin: 15px 0;
			margin-right: 20px;
		}
		.first form {
			width: 100%;
		}
}

/* Страница личности */
@media (max-width: 1000px){
.container h1, .adv_block h1{
	font-size: 32px;
}
.container h2,.adv_block h2{
	font-size: 26px;
}
.container h3,.adv_block h3{
	font-size: 30px;
}
.author_info h6,.adv_block h6 {
	font-size: 18px;
}
.author_info p {
	text-align: left!important;
}
.container p,.tabs .tab,.adv_block p{
	font-size: 22px;
	line-height: 1.5;
	text-align: justify;
}
.container.search p{
	text-align: center;
}

.item p{
	text-align: left;
}
.nav_link_bio {
	font-size: 22px;
	text-align: center;
	flex-flow: row wrap;
}
	.nav_link_bio a {
		flex: 1;
	}
	.card_cols {
		flex-flow: column-reverse;
	}
		.card_cols>div{
			width: 100%;
		}
		.author_photo.descop{
			display: none;
		}
		.author_info.descop{
			display: none;
		}
	.author_photo {
		background-position: center;
	}
	.tabs {
		flex-flow: row wrap;
	}
		.tabs li{
			margin: 1px;
		}

		div.card_left.mobile{
			display: block;
			width: 100%;
		}

		.ya-share2__container_mobile.ya-share2__container_size_m .ya-share2__icon {
			height: 50px!important;
			width: 50px!important;
		}
		.ya-share2__list.ya-share2__list_direction_horizontal{
			width: 100%;
			display: flex;
			justify-content: space-around;
		}
		.social_link {
			display: flex;
			justify-content: space-between;
		}
			.social_link svg {
				width: 50px!important;
				height: 50px!important;
			}
			.site_link {
				font-size: 18px;
			}
			.site_link svg {
				width: 50px!important;
				height: 50px!important;
			}
	.adv_block {
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (max-width : 444px){
	.site_link svg, .social_link svg, .ya-share2__container_mobile.ya-share2__container_size_m .ya-share2__icon {
		width: 30px!important;
		height: 30px!important;
	}
}